.page-header {
  z-index: 100;
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $dark-theme-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu-container {
  display: none;

  text-align: center;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 61px;
    left: 0%;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-theme-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    width: 100%;
    height: 100%;
    align-items: center;
  }
  &.is-open {
    display: block;
  }
}

.header-menu-button {
  display: flex;

  border-style: none;
  background: white;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu-button .icon-cross {
  display: none;
}

.header-menu-button.is-open .icon-cross {
  display: block;
}

.header-menu-button.is-open .icon-menu {
  display: none;
}
