.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &-title {
    text-align: center;
    font-family: $main-font;
    font-style: normal;
    @include font(900, 26px, 42px, 0.06em);
    text-transform: uppercase;
    color: $dark-theme-color;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      width: 696px;
      @include font(900, 44px, 60px, 0.06em);
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: $gradient, url("/images/hero/mobile/hero-480-1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url("/images/hero/mobile/hero-480-2x.jpg");
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: $gradient, url("/images/hero/tablet/hero-768-1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url("/images/hero/tablet/hero-768-2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: $gradient, url("/images/hero/descktop/hero-1200-1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url("/images/hero/descktop/hero-1200-2x.jpg");
    }
  }
}
