.address {
  font-family: $main-font;

  font-style: normal;

  .page-header & {
    @include font(500, 18px, 21px, 0.02em);

    @media screen and (min-width: 768px) {
      @include font(500, 11px, 14px, 0.02em);
    }
  }

  &-list {
    display: block;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }

    &:hover,
    &:focus {
      color: $accent-color;
      @extend %transition;
    }

    .footer & {
      margin-top: 20px;
      display: block;
    }
  }

  &-list-item:not(:last-child) {
    margin-bottom: 16px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &-list-link {
    &:hover,
    &:focus {
      color: $accent-color;
      @extend %transition;
    }
  }

  &-light-theme {
    color: $main-text-color;
    @media screen and (min-width: 768px) {
      @include font(500, 12px, 14px, 0.02em);
    }

    @media screen and (min-width: 1200px) {
      @include font(500, 14px, 16px, 0.02em);
    }
  }

  &-dark-theme {
    @include font(400, 14px, 24px, 0.03em);
    color: $dark-theme-secondary-color;
  }
}

.page-header .address-list-link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.page-header .address-list-item + .address-list-item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  @include box(10px, 15px);

  @media screen and (min-width: 768) {
    @include box(10px, 14px);
  }
  @media screen and (min-width: 1200) {
    @include box(10px, 16px);
  }
}

.mail-icon {
  @include box(16px, 11px);

  @media screen and (min-width: 768) {
    @include box(14px, 10px);
  }
  @media screen and (min-width: 1200) {
    @include box(16px, 10px);
  }
}

.footer .address-list-link {
  display: block;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer .address-list-item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}
