.address {
  font-family: $main-font;
  font-style: normal;
  font-size: 14px;

  .page-header & {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .footer & {
    margin-top: 20px;
  }

  &-list {
    display: block;
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }

    &:hover,
    &:focus {
      color: $accent-color;
      @extend %transition;
    }

    .footer & {
      display: block;
    }
  }

  &-list-item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &-list-link {
    &:hover,
    &:focus {
      color: $accent-color;
      @extend %transition;
    }
  }

  &-light-theme {
    @include font(500, 18px, 21px, 0.02em);

    @media screen and (min-width: 768px) {
      @include font(500, 12px, 14px, 0.02em);
      color: $main-text-color;
    }

    @media screen and (min-width: 1200px) {
      @include font(500, 14px, 16px, 0.02em);
      color: $main-text-color;
    }
  }

  &-dark-theme {
    @include font(400, 14px, 24px, 0.03em);
    color: $dark-theme-secondary-color;
  }
}

.page-header .address-list-link {
  display: flex;
  align-items: center;
}

.page-header .address-list-item + .address-list-item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

/*.menu {
  position: absolute;
  width: 100%;
  height: 393px;
  background-color: $dark-theme-color;
  bottom: 100px;
  border: solid 1px red;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    height: 100%;
    align-items: center;
  }
}*/

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  @include box(10px, 15px);

  @media screen and (min-width: 768) {
    @include box(10px, 14px);
  }
  @media screen and (min-width: 1200) {
    @include box(10px, 16px);
  }
}

.mail-icon {
  @include box(16px, 11px);

  @media screen and (min-width: 768) {
    @include box(14px, 10px);
  }
  @media screen and (min-width: 1200) {
    @include box(16px, 10px);
  }
}

.footer .address-list-link {
  display: block;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer .address-list-item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}
