.title {
  @include font(700, 28px, 33px, 0.03em);
  text-align: center;
  margin-bottom: 30px;

  color: $secondary-text-color;

  @media screen and (min-width: 1200px) {
    @include font(700, 36px, 42px, 0.03em);

    margin-bottom: 50px;
  }

  .footer & {
    font-family: $main-font;

    @include font(700, 14px, 16px, 0.03em);

    color: $dark-theme-color;

    text-transform: uppercase;

    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
}
